span.stars, span.stars span {
    display: block;
    background: url("../images/images.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.ratingbox{
      background-color: #fafafa;
      margin: 10px;
      padding: 0px;
      float: left;
      border: 1px solid #cacaca
    }
    .ratingbox .title{
      background-color: #C3C3C3;
      float: left;
      width: 198px;
      text-overflow: ellipsis;
      padding: 10px 5px;
    }
    .ratingbox .author{
      background-color: #eaeaea;
      float: left;
      width: 198px;
      text-overflow: ellipsis;
      padding: 10px;
    }
    .ratingbox span.stars{
      float: left;
      margin: 5px;
    }
