body{
    font-weight: normal; 
}
span.stars, span.stars span {
    display: block;
    background: url("../images/images.png") 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
.inline hide-if-no-js {display:none!important}

span.stars span {
    background-position: 0 0;
}

.ratingbox{
      background-color: #fafafa;
      margin: 10px;
      padding: 0px;
      float: left;
      border: 1px solid #cacaca
    }
    .ratingbox .title{
      background-color: #C3C3C3;
      float: left;
      width: 198px;
      text-overflow: ellipsis;
      padding: 10px 5px;
    }
    .ratingbox .author{
      background-color: #eaeaea;
      float: left;
      width: 198px;
      text-overflow: ellipsis;
      padding: 10px;
    }
    .ratingbox span.stars{
      float: left;
      margin: 5px;
    }
    /* 
Generic Styling, for Desktops/Laptops 
*/
    table { 
      width: 100%;
      margin-top: .5em;
      border-collapse: collapse; 
    }
    /* Zebra striping */
   
    th { 
        vertical-align: top;
        width: 200px;
        line-height: 2.3;
        font-weight: 700;
        font-size: 14px;
    }
    td, th { 

      text-align: left;
      padding: 20px 10px 20px 0;
    }
    @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    input.regular-text {
    width: 25em;
    }
    .wrap{
        margin: 10px 20px 0 2px;
    }
    
    